In [212]:
import pandas as pd

In [213]:
df = pd.read_csv('data.csv')

In [214]:
# CREATE table <> (<> <>, <> <>);
df1 = pd.DataFrame({'id' : [1, 2, 3, 4], 'name' : ['abc', 'def', 'ghi', 'jkl']})
df2 = pd.DataFrame([[1, 'abc'], [2, 'def'], [3,'ghi']], columns = ['id','name'])
print(df1)
print(df2)

   id name
0   1  abc
1   2  def
2   3  ghi
3   4  jkl
   id name
0   1  abc
1   2  def
2   3  ghi

In [215]:
# ALTER Table <tablename> ADD COLUMN <> <>
df.insert(len(df.columns), 'score', [3,4,5,2,1,9,5])
df['rating'] = [8,4,5,6,7,6,4]
# ALTER Table <tablename> ADD COLUMN <> <> AFTER <>;
df.insert(loc = df.columns.get_loc('Price') + 1, column = 'score1', value = [3,4,5,2,1,9,5])
# ALTER Table <tablename> ADD COLUMN <> <> FIRST;
df.insert(loc = 0, column = 'score2', value = [3,4,5,2,1,9,5])
print(df)
# ALTER Table <tablename> DROP COLUMN <>;
df.drop(columns = ['score', 'rating', 'score1', 'score2'], inplace = True)
print(df)
# ALTER TABLE klm RENAME COLUMN Price to Cost
df.rename(columns = {'Price' : 'Cost'}, inplace = True)
print(df)

   score2    Product  Quantity  Price  score1        Date  score  rating
0       3  Product A        10  25.99       3  2023-08-01      3       8
1       4  Product B         5  12.49       4  2023-08-01      4       4
2       5  Product A         7  25.99       5  2023-08-02      5       5
3       2  Product C         3   9.99       2  2023-08-02      2       6
4       1  Product B         8  12.49       1  2023-08-03      1       7
5       9  Product A        12  25.99       9  2023-08-03      9       6
6       5  Product C         4   9.99       5  2023-08-04      5       4
     Product  Quantity  Price        Date
0  Product A        10  25.99  2023-08-01
1  Product B         5  12.49  2023-08-01
2  Product A         7  25.99  2023-08-02
3  Product C         3   9.99  2023-08-02
4  Product B         8  12.49  2023-08-03
5  Product A        12  25.99  2023-08-03
6  Product C         4   9.99  2023-08-04
     Product  Quantity   Cost        Date
0  Product A        10  25.99  2023-08-01
1  Product B         5  12.49  2023-08-01
2  Product A         7  25.99  2023-08-02
3  Product C         3   9.99  2023-08-02
4  Product B         8  12.49  2023-08-03
5  Product A        12  25.99  2023-08-03
6  Product C         4   9.99  2023-08-04

In [216]:
# UPDATE <> SET <> = <> WHERE <> = <>;
df.at[1,'Quantity'] = 6
df.loc[df['Product'] == 'Product C', 'Quantity'] = 5
# UPDATE <> SET <> = <>, <> = <> WHERE <> < <>;
df.loc[df['Quantity'] < 6 , ['Quantity', 'Cost']] = [10, 0]
df

     Product  Quantity   Cost        Date
0  Product A        10  25.99  2023-08-01
1  Product B         6  12.49  2023-08-01
2  Product A         7  25.99  2023-08-02
3  Product C        10   0.00  2023-08-02
4  Product B         8  12.49  2023-08-03
5  Product A        12  25.99  2023-08-03
6  Product C        10   0.00  2023-08-04

In [217]:
# SELECT Quantity, Cost FROM klm;
print(df[['Quantity', 'Cost']])
print(df.loc[[True] * df.shape[0], ['Quantity', 'Cost']])
print(df.loc[:, ['Quantity', 'Cost']])
# SELECT Product, Quantity, Cost FROM klm WHERE Quantity < 8;
df.loc[df['Quantity'] < 8, ['Product', 'Quantity', 'Cost']]

   Quantity   Cost
0        10  25.99
1         6  12.49
2         7  25.99
3        10   0.00
4         8  12.49
5        12  25.99
6        10   0.00
   Quantity   Cost
0        10  25.99
1         6  12.49
2         7  25.99
3        10   0.00
4         8  12.49
5        12  25.99
6        10   0.00
   Quantity   Cost
0        10  25.99
1         6  12.49
2         7  25.99
3        10   0.00
4         8  12.49
5        12  25.99
6        10   0.00

     Product  Quantity   Cost
1  Product B         6  12.49
2  Product A         7  25.99

In [218]:
# AGGREGATE FUNCTIONS
# SELECT SUM(Quantity) FROM klm;
print(df['Cost'].sum())
print(df['Cost'].mean())
print(df['Cost'].min())
print(df['Cost'].max())
print(df['Cost'].count())
print(df['Cost'].std())
print(df['Cost'].agg(['sum', 'mean', 'min', 'max', 'count', 'std']))
# SELECT SUM(*) FROM klm GROUP BY Product;
print(df.groupby('Product').sum().reset_index())

102.94999999999999
14.707142857142856
0.0
25.99
7
11.72134906098798
sum      102.950000
mean      14.707143
min        0.000000
max       25.990000
count      7.000000
std       11.721349
Name: Cost, dtype: float64
     Product  Quantity   Cost                            Date
0  Product A        29  77.97  2023-08-012023-08-022023-08-03
1  Product B        14  24.98            2023-08-012023-08-03
2  Product C        20   0.00            2023-08-022023-08-04

In [219]:
# loc vs iloc
print(df.iloc[0, 0])
print(df.loc[0,'Product'])
print(df.iloc[[0, 1], [1, 2]])
print(df.loc[[0, 1], ['Quantity', 'Cost']])

Product A
Product A
   Quantity   Cost
0        10  25.99
1         6  12.49
   Quantity   Cost
0        10  25.99
1         6  12.49

In [220]:
# INSERT INTO klm (<>, <>) VALUES(<>, <>);
temp = pd.DataFrame([['Product A', 2, 8.23, '2023-08-02']], columns = ['Product', 'Quantity', 'Cost', 'Date'])
df = pd.concat([df, temp], ignore_index= True)

In [221]:
# DELETE FROM klm WHERE id = 8;
df1 = df.copy(deep = True)
df1.drop(3, inplace = True)
print(df1)
df1 = df.set_index('Product')
print(df1)
df1.drop('Product A', inplace=True)
print(df1)
df1.drop(df1.index[2], inplace=True)
print(df1)
df1.reset_index(inplace = True)
print(df1)

     Product  Quantity   Cost        Date
0  Product A        10  25.99  2023-08-01
1  Product B         6  12.49  2023-08-01
2  Product A         7  25.99  2023-08-02
4  Product B         8  12.49  2023-08-03
5  Product A        12  25.99  2023-08-03
6  Product C        10   0.00  2023-08-04
7  Product A         2   8.23  2023-08-02
           Quantity   Cost        Date
Product
Product A        10  25.99  2023-08-01
Product B         6  12.49  2023-08-01
Product A         7  25.99  2023-08-02
Product C        10   0.00  2023-08-02
Product B         8  12.49  2023-08-03
Product A        12  25.99  2023-08-03
Product C        10   0.00  2023-08-04
Product A         2   8.23  2023-08-02
           Quantity   Cost        Date
Product
Product B         6  12.49  2023-08-01
Product C        10   0.00  2023-08-02
Product B         8  12.49  2023-08-03
Product C        10   0.00  2023-08-04
           Quantity  Cost        Date
Product
Product C        10   0.0  2023-08-02
Product C        10   0.0  2023-08-04
     Product  Quantity  Cost        Date
0  Product C        10   0.0  2023-08-02
1  Product C        10   0.0  2023-08-04