In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('data.csv')

In [15]:
# CREATE table <> (<> <>, <> <>);
df1 = pd.DataFrame({'id' : [1, 2, 3, 4], 'name' : ['abc', 'def', 'ghi', 'jkl']})
df2 = pd.DataFrame([[1, 'abc'], [2, 'def'], [3,'ghi']], columns = ['id','name'])
print(df1)
print(df2)

   id name
0   1  abc
1   2  def
2   3  ghi
3   4  jkl
   id name
0   1  abc
1   2  def
2   3  ghi

In [16]:
# ALTER Table <tablename> ADD COLUMN <> <>
df.insert(len(df.columns), 'score', [3,4,5,2,1,9,5])
df['rating'] = [8,4,5,6,7,6,4]
# ALTER Table <tablename> ADD COLUMN <> <> AFTER <>;
df.insert(loc = df.columns.get_loc('Price') + 1, column = 'score1', value = [3,4,5,2,1,9,5])
# ALTER Table <tablename> ADD COLUMN <> <> FIRST;
df.insert(loc = 0, column = 'score2', value = [3,4,5,2,1,9,5])
print(df)
# ALTER Table <tablename> DROP COLUMN <>;
df.drop(columns = ['score', 'rating', 'score1', 'score2'], inplace = True)
print(df)

   score2    Product  Quantity  Price  score1        Date  score  rating
0       3  Product A        10  25.99       3  2023-08-01      3       8
1       4  Product B         5  12.49       4  2023-08-01      4       4
2       5  Product A         7  25.99       5  2023-08-02      5       5
3       2  Product C         3   9.99       2  2023-08-02      2       6
4       1  Product B         8  12.49       1  2023-08-03      1       7
5       9  Product A        12  25.99       9  2023-08-03      9       6
6       5  Product C         4   9.99       5  2023-08-04      5       4
     Product  Quantity  Price        Date
0  Product A        10  25.99  2023-08-01
1  Product B         5  12.49  2023-08-01
2  Product A         7  25.99  2023-08-02
3  Product C         3   9.99  2023-08-02
4  Product B         8  12.49  2023-08-03
5  Product A        12  25.99  2023-08-03
6  Product C         4   9.99  2023-08-04

In [22]:
# UPDATE <> SET <> = <> WHERE <> = <>;
df.at[1,'Quantity'] = 6
df.loc[df['Product'] == 'Product C', 'Quantity'] = 5
df

     Product  Quantity  Price        Date
0  Product A        10  25.99  2023-08-01
1  Product B         6  12.49  2023-08-01
2  Product A         7  25.99  2023-08-02
3  Product C         5   9.99  2023-08-02
4  Product B         8  12.49  2023-08-03
5  Product A        12  25.99  2023-08-03
6  Product C         5   9.99  2023-08-04